<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
            <strong>"안녕하세요. 임베디드 엔지니어를 꿈꾸는 이예훈입니다."</strong>
            </p>
            <strong>"임베디드 개발의 매력"</strong>
            <p style="font-size:18px; color: black; line-height: 1.8;">
                사람들에게 편리함을 제공해주고, 때로는 사회문제까지도 해결해주는 임베디드 
                개발에 매력을 느껴 임베디드 엔지니어를 꿈꾸게 되었습니다. 직접 졸업작품을
                만들며 여러 아이디어를 생각했는데, 좋은 아이디어만 있다면 미래 사회에서 
                중요한 역할을 할 수 있겠다고 느꼈습니다. 아직은 시작 단계이지만, 많은 
                경험을 통해 세상에 편리함을 주는 작품을 만들겠습니다.
            </p>
            <strong>"끈기와 열정"</strong>
            <p style="font-size:18px; color: black; line-height: 1.8;">
                제가 생각하는 임베디드 엔지니어의 핵심 역량은 끈기와 열정입니다. 어떤 문제를
                인식하고 그 문제를 해결하기 위해 임베디드 시스템을 설계하고 개발한다는 것은 
                또 다른 새로운 분야에 관한 공부가 필요하며, 해결하기까지의 과정은 어렵기 때문에 
                끈기와 열정은 중요한 역량이 될 것입니다. 
                앞으로 끈기와 열정을 가지고 계속해서 임베디드 엔지니어로서의 역량을 향상시키며
                임베디드 엔지니어로서의 역량을 발전시키고 기술적으로 성장하는 모습을 보여드리겠습니다.
            </p>
        </div>
    </section>
</div>