<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">All</a>
                    <a id="webdev" class="semi-transparent-button with-border white-button" onclick="selected('webdev')">Team Project</a>
                    <a id="native" class="semi-transparent-button with-border white-button" onclick="selected('native')">Toy Project</a>
                    <a id="security" class="semi-transparent-button with-border white-button" onclick="selected('security')">Study</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>