<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p>
                        <strong style="font-size:18px; color: white; line-height: 1.8;">
                            주로 Arduino와 Raspberry Pi를 많이 다뤄봤습니다.
                            프로젝트를 하며 IoT 통신을 위한 스마트폰 어플리케이션도 만들어야 하고 
                            영상처리도 다뤄야 해서 Android Studio(JavaScript)와 OpenCV, Firebase를 다뤄보았습니다.
                            리눅스 프로그래밍으로는 간단한 텍스트 편집 기능만 만들어보았고, 
                            Windows Form 어플리케이션을 만들어보기 위해 .Netframework를 사용해보았고, Web개발도 다뤄보기 위해
                            React를 공부했습니다.
                        </strong>
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>C</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>C++</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="65%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>C#</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        
                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Python</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>JavaScript</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="55%">
                            <div class="skillbar-title" style="background: #2980b9"><span>Linux</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="55%">
                            <div class="skillbar-title" style="background: #2980b9"><span>OpenCV</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #2980b9"><span style="font-size: 15px;">AndroidStudio</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #2980b9"><span style="font-size: 15px;">.Netframework</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="65%">
                            <div class="skillbar-title" style="background: #2980b9"><span>React</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="65%">
                            <div class="skillbar-title" style="background: #2980b9"><span>Firebase</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>